*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.container{
  width: 500px;
  height: 800px;
  background-color: rgb(255, 251, 245);
  border-radius: 20px;
}
.screen{
  position: relative;
  top: 20px;
  width: 450px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 2px 2px 4px rgb(112, 112, 112);
}
.ms{
  position: relative;
  top: 10px;
  margin: 10px auto;
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.ms a{
  font-size: 1.2rem;
  width: 70px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
}
.numpad{
  margin: 0 auto;
  width: 480px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
a.number{
  width: 115px;
  height:80px;
  background-color: white;
  text-align: center;
  line-height: 70px;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 2px 2px 4px black;
  transition:.2s all;
}
a.numpad:active, a.numpad:active{
  box-shadow: 2px 2px 4px rgb(167, 73, 73);
  transform: scale(0.98); 
}

a.number:active{
  box-shadow: 2px 2px 2px rgb(100, 100, 100);
  transform: scale(0.98); 
  color: black;
}
 a.number:hover{
  text-decoration: none;
  color: black;
}
